@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

$cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$gray-footer: hsl(220, 18%, 97%);
$movil: 650px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18;
    color: $dark-grayish-blue;
    @media (max-width: $movil) {
        font-size: 12px;
    }
}

body {    
    text-align: center;

    background: url("images/bg-header-desktop.png") no-repeat top left;
    @media(max-width: 375px) {
        background: url("images/bg-header-mobile.png") no-repeat top left;
    }
}

h1 {
    margin-top: 5vh;
    font-size: 2.7rem;
    @media(max-width: $movil) {
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}
h2{
    font-size: 2.2rem;
    line-height: 2.6;
    @media(max-width: $movil) {
        line-height: 1.3;
        margin-bottom: 1.1rem;
    }
}
h3 {
    font-size: 1.5rem;
    @media(max-width: $movil) {
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }
}
p {
    line-height: 1.5;
    color: $grayish-blue;
    @media(max-width: $movil) {
        font-size: 1.4rem;
    }
}

.space-bottom {
    margin-bottom: 10vh;
}

.container {
    max-width: 1440px;
    width: 100%;
    min-height: 420px;
    margin: 20vh auto 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: $movil) {
        min-height: 50vh; 
        padding: 2rem;
        margin: 9.70vh auto 2.05vh;
    }
}

.header-text {
    width: 80%;
    @media(max-width: $movil) {
        width: 100%;
    }
    p {
        font-size: 0.8rem;
        @media(max-width: $movil) {
            font-size: 1.4rem;
        }
    }
    
}

.section-header {
    width: 46%;
    margin-bottom: 2rem;
    @media(max-width: $movil){
        width: 100%;
        margin-bottom: 0;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media(max-width: $movil) {
        flex-direction: column;
    }
}

.column {
    flex-direction: column;
}

.btn-group {
    margin-top: 7vh;
    width: 100%;    
}
.btn {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 1rem 2.5rem;
    border-radius: 2.5rem;
    @media(max-width: $movil) {
        margin-bottom: 2rem;
        display: block;
    }
}
.btn-primary {
    background-color:$cyan;
    box-shadow: 0 3px 1px hsl(171, 66%, 36%);
}
.btn-secondary {
    background-color: $light-blue;
    
    box-shadow: 0 3px 1px hsl(233, 100%, 61%);;
}

.computer {
    margin-left: -16.2vw;
    @media(max-width: $movil) {
        margin-left: 0;
    }
}
 .full-width {
     width: 50vw;
     @media (max-width: $movil) {
        width: 100%;
     }
 }

.snippets{
    margin-left: 7.5vw;
    min-height: 30vh;
    text-align: start;
    @media(max-width: $movil) {
        text-align: center;
        margin-left: 0;
    }
}
.snippets-text {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    @media (max-width: $movil) {
        width: 100%;
    }

}
.snippets .snippets-text > div {
    @media(max-width: $movil) {
        margin: 3.2rem auto;
    }
}

.workflow {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media(max-width: $movil) {
        flex-direction: column;
    }
}

.workflow__item {
    width: 30vw;
    @media(max-width: $movil) {
        width: 80vw;
    }
}

.logos {
    width: 100vw;
    justify-content: space-around;
}

.logos > div {
    @media(max-width: $movil) {
        margin-bottom: 4.2rem;
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $gray-footer;
    @media(max-width: $movil) {
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex-direction: column;
        font-size: 1.4rem;
    }
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: start;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $dark-grayish-blue;
}

footer img {
    width: 60px;
}

.logo {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links {
    flex: 2;
    margin: 1.8rem;
    ul {
        @media(max-width: $movil) {
            
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    li {
        margin: 1rem 4rem;
    }

    
}
.social {
    
    flex: 1;
    margin: auto 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    ul {
        justify-content: center;
    }
    li {
        margin: 1rem 1rem;
    }
}

